.form-filter {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #eaeaea;

    .btn-seach {
        text-align: right;

        button {
            margin: 0 10px;
        }
    }
}