.filter-search {
    display: flex;
    justify-content: space-between;
}

.menu-tabs {
    padding: 10px;

    .gird-product {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 10px;

        .column {
            width: calc(20% - 8px);

            &:hover {
                box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, .05);
                -webkit-transform: translateY(-0.0625rem);
                transform: translateY(-0.0625rem);
            }

            .wrapper {
                cursor: pointer;
                box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
                border-radius: 0.125rem;
                padding: .3rem;

                .text {
                    padding: 0.5rem 0;
                    height: 70px;
                    font-size: .75rem;
                }

                .rating {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }

        @media screen and (max-width: 600px) {
            .column {
                flex: unset;
                width: calc(50% - 8px);
                flex-wrap: wrap;
            }
        }

        @media screen and (max-width: 1000px) and (min-width: 601px) {
            .column {
                flex: unset;
                width: calc(25% - 8px);
                flex-wrap: wrap;
            }
        }
    }


}

.img-product {
    max-height: 200px;
    max-width: 200px;
    margin: 0 auto;

    img {
        max-width: 100%;
        max-height: 100%;
        background-color: white;
        object-fit: contain;
    }
}

.menu-left {
    padding: 5px;
    border-right: 1px solid rgb(186, 186, 186);
}